<div>
    <h2>Create a Review</h2>
<div>

<div>
    <form action="/reviews" method="POST">
        <h3>Select from an existing movie or add a new one to the database:</h3>

        <label for="movie_title">Select a movie</label>
        <select id="movie_title" name="existing_movie[movie_id]">
        <option value="none" selected disabled hidden></option>
        <% Movie.all.each do |movie| %>
            <option value="<%=movie.id%>"><%= movie.title %><br>
        <% end %>
        </select>
        <br>
        
        <div>
            <label for="new_movie_title">Movie Title:</label>
            <input id="new_movie_title" name="new_movie[title]"><br>

            <label for="new_movie_genre">Movie Genre:</label>
            <input id="new_movie_genre" name="new_movie[genre]"><br>

            <label for="new_movie_director">Movie Director:</label>
            <input id="new_movie_director" name="new_movie[director]"><br>

            <label for="new_movie_release_date">Movie Release Date:</label>
            <input type="date" id="new_movie_release_date" name="new_movie[release_date]"><br>
        </div>

        <div>
            <h3>Your review:</h3>
            
            <label for="watch_date">Watch Date:</label>
            <input type="date" id="watch_date" name="review[watch_date]"><br>

            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="review[rating]" step="0.01" min="0"><br>

            <label for="description">Description:</label>
            <textarea for="description" id="description" name="review[description]"></textarea><br>
        </div>

        <input type="submit" value="Create Review">
    </form>
</div>