<!doctype html>
<html>
  <head>
    <title>Rate-That-Movie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="layout-title">
      <h1 style="font-style: italic">Rate-That-Movie</h1>
    </div>

    <div class="nav">
      <% if flash.has?(:message) %>
        <%= flash[:message] %><br>
      <% end %> 
      <br>

      <% if logged_in? %>
        <% unless @request.env["PATH_INFO"].include?("welcome") %>
          <a href="/welcome/<%= current_user.slug %>"><button type="submit">Home</button></a>
        <% end %>
        <% unless @request.env["PATH_INFO"] == "/reviews" %>
          <a href="/reviews"><button type="submit">All Reviews</button></a>
        <% end %>
        <% unless @request.env["PATH_INFO"] == "/movies" %>
          <a href="/movies"><button type="submit">All Movies</button></a>
        <% end %>
        <a href="/logout"><button type="submit">Log Out</button></a>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>