<!doctype html>
<html>
  <head>
    <title>Rate-A-Movie</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>
  <body>
    <div class="layout-title">
      <h1>Rate-A-Movie</h1>
    </div>

    <div class="nav">
      <% if logged_in? %>
        <a href="/logout"><button type="submit">Log Out</button></a>
        <a href="/welcome/<%= current_user.slug %>"><button type="submit">Home</button></a>
        <a href="/reviews"><button type="submit">All Reviews</button></a>
        <a href="/movies"><button type="submit">All Movies</button></a>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>