<!doctype html>
<html>
  <head>
    <title>Rate-A-Movie</title>
  </head>
  <body>
    <h1>Rate-A-Movie</h1>
    <% if logged_in? %>
      <a href="/logout">Log Out</a>
    <% end %>
    


    <%= yield %>

  </body>
</html>